.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_main.bbl
_main.blg
_main.run.xml
_todo.md
_bookdown_files



*.pdf
*.log
*.maf
*.mtc
*.mtc0
*.aux
*.bbl
*.bcf
*.out
*.blg
*.knit.md
*.run.xml
*.tex
*.html


test.*
.Rdata
.httr-oauth
